
@font-face {
    font-family: "LXGW WenKai";
    font-style: normal;
    font-weight: 600;
    src: 
        url("../fonts/LXGWWenKaiLite-Regular.woff2") format("woff2");
        url("../fonts/LXGWWenKaiLite-Regular.woff2") format("woff2");
        url("../fonts/LXGWWenKaiMono-Regular.ttf") format("woff2");
}

@font-face {
    font-family: "LXGW WenKai Bold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/LXGWWenKaiLite-Bold.woff2") format("woff2");
}
